* {
    margin: 0;
    font-family: 'Kurale', serif;
}

body {
    font-weight: 400;
    background-color: #F8F8F8;
}

.menu-principal {
    justify-content: flex-end;
}

#inicio {
    background-image: url(../img/background1.jpg);
    background-size: cover;
    background-position: center;
    padding: 240px;
    font-size: 30px;
}

.texto-inicio {
    font-style: italic;
    background-color: #ffe5b58c;
}

.titulo-portafolio {
    font-style: italic;
    text-align: center;
    padding-bottom: 20px;
}

.card {
    padding: 0;
    margin: 0;
}

footer {
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #F7C873;
    font-style: italic;
}